<h2>User Details</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>
  
  <li>
    <strong>Manager Name:</strong>
    <%= @managerdetails.name %>
  </li>

</ul>

<span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span> | 
<span><%= link "Log In!", to: page_path(@conn, :index) %></span>
